.main {
    width: 100%;
    padding: 20px 20px 40px;
    max-width: 700px;
    margin: 0 auto;
}

@import './section_one.scss';
@import './section_two.scss';
@import './section_three.scss';
@import './modal_back.scss';
@import './modal_success.scss';